# dependencies
node_modules
 IDEs and editors
.idea
.project
.classpath
*.launch
.settings/
#secrets
/src/secrets/development.ts
/src/secrets/production.ts
/src/secrets/test.ts
#System Files
.DS_Store
Thumbs.db